<style>
  #btn1 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  }
</style>
<!--Boton para el abrir modal-->
<div>
<button class="btn btn-primary" (click)="closeModal()" id="btn1"> 
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
</svg></button>
<h2 _ngcontent-xpf-c49="" class="mb-4 pb-3 titulo text-center" style="margin-top: 50px;">Información de Usuario</h2>
<!--termina boton-->
</div>
<div class="" *ngIf="modalSwitch==true">

 <!-- <app-cont-modal></app-cont-modal>-->
</div>

<div class="conteiner mt-5">
    <div class="row">
        <div class="col-lg-11 mx-auto text-center">
            <div class="card">
                <div class="card-body text-center">
                    <table class="table table-hover mt-3"  >
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido Paterno</th>
                            <th scope="col">Apellido Materno</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Genero</th>
                            <th scope="col">Email</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{usuario.nombreUsuario}}</td>
                            <td>{{usuario.apePaterno}}</td>
                            <td>{{usuario.apeMaterno}}</td>
                            <td>{{usuario.edad}}</td>
                            <td>{{usuario.genero}}</td>
                            <td>{{usuario.email}}</td>
                            <td>{{usuario.empresa}}</td>
                            <td>{{usuario.rol}}</td>
                            <td>{{usuario.status}}</td>
                            <td>
                                <i [routerLink]="['/editar-user',usuario._id]" class="fa-solid fa-user-pen text-primary"></i>
                                <i class="fa-sharp fa-solid fa-user-slash text-danger" (click)="eliminarUsuario(usuario._id)"></i>
                                <i class="fa-sharp fa-solid fa-user text-success" (click)="eliminarUsuario(usuario._id)"></i>
                            </td>
                          </tr>
                         
                        </tbody>
                       
                      </table>
                      <button (click)="logout()" class="btn btn-danger" style="float: left;">Cerrar sesión</button> 
                </div>
                
            </div>
            
        </div>
        
    </div>
   
</div>

 

  

